.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    transition: .3s ease-in;
    overflow: hidden;
   
}

.header-bg{
    background-color:rgb(211,211,211);

}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}